.App {
  text-align: center;
}
/** Navbar **/
.navbar {
  margin-bottom: 50px;
  background: wheat;
  font-size: 16px;
  text-align: center;
}
.navbar p {
  display: inline-block;
  margin: 20px;
}
.navbar p:nth-child(1) {
  background: gray;
  padding: 10px 20px;
  color: white;    
}
.navbar p:nth-child(3) {
  background: gray;
  padding: 10px 20px;
  color: white;
}

/** List of products **/
.listOfProducts {
  font-size: 25px;
  
}
.listOfProducts p {
  margin: 2px;
  display: inline-block;
  padding: 2vw;
  background-color: lightblue;
  color: white;
  width: 15vw;
}
/** Form **/
.registerForm {
  position: relative;
  width: 40vw;
  margin-left: 50%;
  left: -23vw;
  padding: 100px 5vw;
  background-color: rgb(197, 223, 231);
}
.form {
  margin-top: 100px; 
  text-align: center; 
}
.registerForm button {
  background-color: gray;
  color: white;
  padding: 17px 5px;
  width: 100px;
}
.registerForm input {
  padding: 15px 5px;
  font-size: 16px;
}

/** Feedback form **/
.feedback {
  
}
.radio {
  margin-bottom: 3vh;
}
.feedback textarea {
  resize: none;
  width: 30vw;
}
.feedback button {
  width: 200px;
  background-color: gray;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
hr {
  margin-bottom: 20px;
}
.linkToCat {
  position: relative;
  width: 40vw;
  margin-left: 50%;
  left: -23vw;
  padding: 20px 5vw;
}
.linkToCat:hover {
  cursor: pointer;
  color: gray;
}
.message {
  position: relative;
  color: gray;
  background: wheat;
  width: 40vw;
  margin-left: 50%;
  left: -23vw;
  padding: 20px 5vw;
}
.product {
  position: relative;
  width: 40vw;
  margin-left: 50%;
  left: -24vw;
  padding: 20px 5vw;
  text-align: center;
}
.reviews {
  
  padding: 20px 0;
}
.product .reviews:nth-child(even) {
  background: rgb(238, 236, 236);
}